<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>233612610298-et9dpshqh6gfvrn8o6n1pdiae9ddafng.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.233612610298-et9dpshqh6gfvrn8o6n1pdiae9ddafng</string>
	<key>API_KEY</key>
	<string>AIzaSyBEN6QuOkBlb5A89tUW2KObaaRQZ3VQCW0</string>
	<key>GCM_SENDER_ID</key>
	<string>233612610298</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.TemaFinal.devslopes-social</string>
	<key>PROJECT_ID</key>
	<string>developes-social-e1c12</string>
	<key>STORAGE_BUCKET</key>
	<string>developes-social-e1c12.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:233612610298:ios:3e340cd3c21c2fcb</string>
	<key>DATABASE_URL</key>
	<string>https://developes-social-e1c12.firebaseio.com</string>
</dict>
</plist>